In [161]:
import pandas as pd
from math import sqrt
import numpy as np

In [162]:
amazon_df=pd.read_csv(r"D:\Gorian\Data science basics\Portfolio\amazon_products.csv", low_memory=False)

In [163]:
amazon_df.shape

(34660, 21)

#### Data preprocessing

In [164]:
amazon_df.columns

Index(['id', 'name', 'asins', 'brand', 'categories', 'keys', 'manufacturer',
       'reviews.date', 'reviews.dateAdded', 'reviews.dateSeen',
       'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.userCity',
       'reviews.userProvince', 'reviews.username'],
      dtype='object')

In [165]:
data=amazon_df[['id', 'name', 'reviews.rating', 'reviews.username']]

In [166]:
#Checking percentage of missing values
data.isnull().sum()/len(data)*100

id                   0.000000
name                19.503751
reviews.rating       0.095211
reviews.username     0.005770
dtype: float64

The name column has 20% missing values. As it is impossible to assume what names products under certain ids have, the NaN values can be replaced st least with category name they belong to for better representation of the recommendation result.

In [167]:
data['name'].fillna(amazon_df['categories'], inplace=True)

In [168]:
data.dropna(subset=['reviews.rating', 'reviews.username'], inplace=True)

C:\Users\Stas\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [169]:
data.head()

,id,name,reviews.rating,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,explore42

selected=data.groupby(['reviews.username']).count().reset_index()
selected=selected=selected[selected.id >=3]

In [171]:
new = data[data['reviews.username'].isin(selected['reviews.username'].tolist())]
new.head()

,id,name,reviews.rating,reviews.username
16,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Linda
26,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Dave
27,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,James
34,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,rick
36,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Gift

In [172]:
new.rename(columns={'id':'ProductId','reviews.username': 'UserID', 'reviews.rating': 'rating'}, inplace=True)

C:\Users\Stas\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [173]:
new

,ProductId,name,rating,UserID
16,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Linda
26,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Dave
27,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,James
34,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,rick
36,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Gift
...,...,...,...,...
34623,AV1YE_muvKc47QAVgpwE,"Back To College,College Electronics,College Tv...",4.0,Jack
34635,AVpf_znpilAPnD_xlvAF,"Electronics,Amazon Device Accessories,Kindle S...",5.0,David
34642,AVpggqsrLJeJML43O5zp,"Power Adapters & Cables,Electronics,USB Cables",5.0,Amazon Customer
34653,AVpfiBlyLJeJML43-4Tp,"Computers/Tablets & Networking,Tablet & eBook ...",1.0,Scooter
34655,AVpfiBlyLJeJML43-4Tp,"Computers/Tablets & Networking,Tablet & eBook ...",3.0,Kris

### Collaborative filtering

##### User to recommend to

In [174]:
userInput = [
            {'ProductId':'AVpfl8cLLJeJML43AE3S', 'rating':5},
            {'ProductId':'AVpfpK8KLJeJML43BCuD', 'rating':4},
            {'ProductId':'AV1YE_muvKc47QAVgpwE', 'rating':3},
            {'ProductId':"AVqkIhwDv8e3D1O-lebb", 'rating':5},
            {'ProductId':'AV1YnRtnglJLPUi8IJmV', 'rating':4}
         ] 
inputProducts = pd.DataFrame(userInput)
inputProducts

              ProductId  rating
0  AVpfl8cLLJeJML43AE3S       5
1  AVpfpK8KLJeJML43BCuD       4
2  AV1YE_muvKc47QAVgpwE       3
3  AVqkIhwDv8e3D1O-lebb       5
4  AV1YnRtnglJLPUi8IJmV       4

###### Defining users that has bought and rated the same products

In [175]:
userSubset = new[new['ProductId'].isin(inputProducts['ProductId'].tolist())]
userSubset.head()

,ProductId,name,rating,UserID
16,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Linda
26,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Dave
27,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,James
34,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,rick
36,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,Gift

In [176]:
userSubsetGroup = userSubset.groupby(['UserID'])

In [177]:
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [178]:
userSubsetGroup[0:3]

[('Mike',
                    ProductId  \
  73     AVqkIhwDv8e3D1O-lebb
  182    AVqkIhwDv8e3D1O-lebb
  311    AVqkIhwDv8e3D1O-lebb
  706    AVqkIhwDv8e3D1O-lebb
  758    AVqkIhwDv8e3D1O-lebb
  ...                     ...
  33162  AV1YE_muvKc47QAVgpwE
  33546  AV1YE_muvKc47QAVgpwE
  33756  AV1YE_muvKc47QAVgpwE
  34239  AV1YE_muvKc47QAVgpwE
  34450  AV1YE_muvKc47QAVgpwE

                                                      name  rating UserID
  73     All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     4.0   Mike
  182    All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     5.0   Mike
  311    All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     5.0   Mike
  706    All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     3.0   Mike
  758    All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     4.0   Mike
  ...                                                  ...     ...    ...
  33162  Back To College,College Electronics,College Tv...     5.0   Mike
  33546  Back To College,College Electronics,College Tv...     5.0   Mike
  33756  Back To College,College Electronics,College Tv...     4.0   Mike
  34239  Back To College,College Electronics,College Tv...     5.0   Mike
  34450  Back To College,College Electronics,College Tv...     5.0   Mike

  [79 rows x 4 columns]),
 ('John',
                    ProductId  \
  497    AVqkIhwDv8e3D1O-lebb
  913    AVqkIhwDv8e3D1O-lebb
  1151   AVqkIhwDv8e3D1O-lebb
  1153   AVqkIhwDv8e3D1O-lebb
  1839   AVqkIhwDv8e3D1O-lebb
  17525  AV1YnRtnglJLPUi8IJmV
  17681  AV1YnRtnglJLPUi8IJmV
  18176  AV1YnRtnglJLPUi8IJmV
  18495  AV1YnRtnglJLPUi8IJmV
  18766  AV1YnRtnglJLPUi8IJmV
  19047  AV1YnRtnglJLPUi8IJmV
  19187  AV1YnRtnglJLPUi8IJmV
  19250  AV1YnRtnglJLPUi8IJmV
  19322  AV1YnRtnglJLPUi8IJmV
  19496  AV1YnRtnglJLPUi8IJmV
  20436  AV1YnRtnglJLPUi8IJmV
  22107  AVpfl8cLLJeJML43AE3S
  22141  AVpfl8cLLJeJML43AE3S
  22246  AVpfl8cLLJeJML43AE3S
  23203  AVpfl8cLLJeJML43AE3S
  23296  AVpfl8cLLJeJML43AE3S
  23433  AVpfl8cLLJeJML43AE3S
  23617  AVpfl8cLLJeJML43AE3S
  23837  AVpfl8cLLJeJML43AE3S
  23946  AVpfl8cLLJeJML43AE3S
  23960  AVpfl8cLLJeJML43AE3S
  24090  AVpfl8cLLJeJML43AE3S
  24259  AVpfl8cLLJeJML43AE3S
  24550  AVpfl8cLLJeJML43AE3S
  24615  AVpfl8cLLJeJML43AE3S
  24937  AVpfl8cLLJeJML43AE3S
  25326  AVpfl8cLLJeJML43AE3S
  25473  AVpfl8cLLJeJML43AE3S
  25612  AVpfl8cLLJeJML43AE3S
  25819  AVpfl8cLLJeJML43AE3S
  26029  AVpfl8cLLJeJML43AE3S
  26243  AVpfl8cLLJeJML43AE3S
  27796  AVpfl8cLLJeJML43AE3S
  27966  AVpfl8cLLJeJML43AE3S
  28346  AVpfl8cLLJeJML43AE3S
  29112  AVpfpK8KLJeJML43BCuD
  29606  AV1YE_muvKc47QAVgpwE
  29973  AV1YE_muvKc47QAVgpwE
  30078  AV1YE_muvKc47QAVgpwE
  30408  AV1YE_muvKc47QAVgpwE
  30709  AV1YE_muvKc47QAVgpwE
  30838  AV1YE_muvKc47QAVgpwE
  32464  AV1YE_muvKc47QAVgpwE
  32607  AV1YE_muvKc47QAVgpwE
  33119  AV1YE_muvKc47QAVgpwE
  33522  AV1YE_muvKc47QAVgpwE
  33638  AV1YE_muvKc47QAVgpwE
  33780  AV1YE_muvKc47QAVgpwE

                                                      name  rating UserID
  497    All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     4.0   John
  913    All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     5.0   John
  1151   All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     5.0   John
  1153   All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     5.0   John
  1839   All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     5.0   John
  17525  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0   John
  17681  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0   John
  18176  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0   John
  18495  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0   John
  18766  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0   John
  19047  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0   John
  19187  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0   John
  19250  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0   John
  19322  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0   John
  19496  Amazon Kindle Paperwhite - eBook reader - 4 GB...     4.0   John
  20436  Kindle Voyage E-reader, 6 High-Resolution Disp...     5.0   John
  22107                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  22141                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  22246                 Echo (White),,,\r\nEcho (White),,,     4.0   John
  23203                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  23296                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  23433                 Echo (White),,,\r\nEcho (White),,,     4.0   John
  23617                 Echo (White),,,\r\nEcho (White),,,     4.0   John
  23837                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  23946                 Echo (White),,,\r\nEcho (White),,,     4.0   John
  23960                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  24090                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  24259                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  24550                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  24615                 Echo (White),,,\r\nEcho (White),,,     5.0   John
  24937  Amazon Fire Hd 10 Tablet, Wi-Fi, 16 Gb, Specia...     4.0   John
  25326  Amazon - Amazon Tap Portable Bluetooth and Wi-...     5.0   John
  25473             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0   John
  25612             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0   John
  25819             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     4.0   John
  26029             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0   John
  26243             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0   John
  27796             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0   John
  27966  Stereos,Remote Controls,Amazon Echo,Audio Dock...     5.0   John
  28346  Stereos,Remote Controls,Amazon Echo,Audio Dock...     5.0   John
  29112  Featured Brands,Electronics,Amazon Devices,Hom...     5.0   John
  29606  Back To College,College Electronics,College Tv...     5.0   John
  29973  Back To College,College Electronics,College Tv...     4.0   John
  30078  Back To College,College Electronics,College Tv...     5.0   John
  30408  Back To College,College Electronics,College Tv...     5.0   John
  30709  Back To College,College Electronics,College Tv...     5.0   John
  30838  Back To College,College Electronics,College Tv...     5.0   John
  32464  Back To College,College Electronics,College Tv...     5.0   John
  32607  Back To College,College Electronics,College Tv...     5.0   John
  33119  Back To College,College Electronics,College Tv...     5.0   John
  33522  Back To College,College Electronics,College Tv...     5.0   John
  33638  Back To College,College Electronics,College Tv...     5.0   John
  33780  Back To College,College Electronics,College Tv...     5.0   John  ),
 ('Chris',
                    ProductId  \
  44     AVqkIhwDv8e3D1O-lebb
  146    AVqkIhwDv8e3D1O-lebb
  448    AVqkIhwDv8e3D1O-lebb
  2085   AVqkIhwDv8e3D1O-lebb
  2645   AVqkIhwDv8e3D1O-lebb
  17550  AV1YnRtnglJLPUi8IJmV
  17575  AV1YnRtnglJLPUi8IJmV
  17657  AV1YnRtnglJLPUi8IJmV
  19665  AV1YnRtnglJLPUi8IJmV
  19670  AV1YnRtnglJLPUi8IJmV
  19771  AV1YnRtnglJLPUi8IJmV
  20133  AV1YnRtnglJLPUi8IJmV
  20181  AV1YnRtnglJLPUi8IJmV
  20308  AV1YnRtnglJLPUi8IJmV
  22106  AVpfl8cLLJeJML43AE3S
  22217  AVpfl8cLLJeJML43AE3S
  22689  AVpfl8cLLJeJML43AE3S
  22863  AVpfl8cLLJeJML43AE3S
  23213  AVpfl8cLLJeJML43AE3S
  23281  AVpfl8cLLJeJML43AE3S
  23665  AVpfl8cLLJeJML43AE3S
  23878  AVpfl8cLLJeJML43AE3S
  24119  AVpfl8cLLJeJML43AE3S
  24466  AVpfl8cLLJeJML43AE3S
  24492  AVpfl8cLLJeJML43AE3S
  25032  AVpfl8cLLJeJML43AE3S
  25537  AVpfl8cLLJeJML43AE3S
  25820  AVpfl8cLLJeJML43AE3S
  25850  AVpfl8cLLJeJML43AE3S
  26936  AVpfl8cLLJeJML43AE3S
  27316  AVpfl8cLLJeJML43AE3S
  27590  AVpfl8cLLJeJML43AE3S
  28170  AVpfl8cLLJeJML43AE3S
  30145  AV1YE_muvKc47QAVgpwE
  31133  AV1YE_muvKc47QAVgpwE
  31320  AV1YE_muvKc47QAVgpwE
  31627  AV1YE_muvKc47QAVgpwE
  32404  AV1YE_muvKc47QAVgpwE
  32461  AV1YE_muvKc47QAVgpwE
  32552  AV1YE_muvKc47QAVgpwE
  32674  AV1YE_muvKc47QAVgpwE
  32745  AV1YE_muvKc47QAVgpwE
  33071  AV1YE_muvKc47QAVgpwE
  33263  AV1YE_muvKc47QAVgpwE
  33414  AV1YE_muvKc47QAVgpwE
  33551  AV1YE_muvKc47QAVgpwE
  33695  AV1YE_muvKc47QAVgpwE
  34052  AV1YE_muvKc47QAVgpwE
  34214  AV1YE_muvKc47QAVgpwE
  34538  AV1YE_muvKc47QAVgpwE

                                                      name  rating UserID
  44     All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     5.0  Chris
  146    All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     4.0  Chris
  448    All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     5.0  Chris
  2085   All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     5.0  Chris
  2645   All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...     4.0  Chris
  17550  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0  Chris
  17575  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0  Chris
  17657  Amazon Kindle Paperwhite - eBook reader - 4 GB...     4.0  Chris
  19665  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0  Chris
  19670  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0  Chris
  19771  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0  Chris
  20133  Amazon Kindle Paperwhite - eBook reader - 4 GB...     2.0  Chris
  20181  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0  Chris
  20308  Amazon Kindle Paperwhite - eBook reader - 4 GB...     5.0  Chris
  22106                 Echo (White),,,\r\nEcho (White),,,     5.0  Chris
  22217                 Echo (White),,,\r\nEcho (White),,,     4.0  Chris
  22689                 Echo (White),,,\r\nEcho (White),,,     5.0  Chris
  22863                 Echo (White),,,\r\nEcho (White),,,     5.0  Chris
  23213                 Echo (White),,,\r\nEcho (White),,,     5.0  Chris
  23281                 Echo (White),,,\r\nEcho (White),,,     4.0  Chris
  23665                 Echo (White),,,\r\nEcho (White),,,     4.0  Chris
  23878                 Echo (White),,,\r\nEcho (White),,,     5.0  Chris
  24119                 Echo (White),,,\r\nEcho (White),,,     5.0  Chris
  24466                 Echo (White),,,\r\nEcho (White),,,     5.0  Chris
  24492                 Echo (White),,,\r\nEcho (White),,,     5.0  Chris
  25032  Amazon Fire Hd 10 Tablet, Wi-Fi, 16 Gb, Specia...     5.0  Chris
  25537             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0  Chris
  25820             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     4.0  Chris
  25850             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0  Chris
  26936             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0  Chris
  27316             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0  Chris
  27590             Amazon Fire Tv,,,\r\nAmazon Fire Tv,,,     5.0  Chris
  28170  Stereos,Remote Controls,Amazon Echo,Audio Dock...     5.0  Chris
  30145  Back To College,College Electronics,College Tv...     5.0  Chris
  31133  Back To College,College Electronics,College Tv...     4.0  Chris
  31320  Back To College,College Electronics,College Tv...     4.0  Chris
  31627  Back To College,College Electronics,College Tv...     5.0  Chris
  32404  Back To College,College Electronics,College Tv...     5.0  Chris
  32461  Back To College,College Electronics,College Tv...     5.0  Chris
  32552  Back To College,College Electronics,College Tv...     5.0  Chris
  32674  Back To College,College Electronics,College Tv...     4.0  Chris
  32745  Back To College,College Electronics,College Tv...     5.0  Chris
  33071  Back To College,College Electronics,College Tv...     5.0  Chris
  33263  Back To College,College Electronics,College Tv...     4.0  Chris
  33414  Back To College,College Electronics,College Tv...     5.0  Chris
  33551  Back To College,College Electronics,College Tv...     5.0  Chris
  33695  Back To College,College Electronics,College Tv...     5.0  Chris
  34052  Back To College,College Electronics,College Tv...     5.0  Chris
  34214  Back To College,College Electronics,College Tv...     5.0  Chris
  34538  Back To College,College Electronics,College Tv...     4.0  Chris  )]

#### Similarity of users' tastes

In [191]:
userSubsetGroup = userSubsetGroup[0:100]
#Storing the Pearson Correlation in a dictionary, where the key is the UserID and the value is the similarity coefficient
pearsonCorrelationDict = {}

#For every user group in the subset:
for name, group in userSubsetGroup:
    
    group = group.sort_values(by='ProductId')
    inputProducts = inputProducts.sort_values(by='ProductId')
    
    nRatings = len(group)
 
    temp_df = inputProducts[inputProducts['ProductId'].isin(group['ProductId'].tolist())]

    tempRatingList = temp_df['rating'].tolist()
    
    tempGroupList = group['rating'].tolist()
    #calculating the pearson correlation between two users x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else - meaning 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [192]:
pearsonCorrelationDict.items()

dict_items([('Mike', -0.06016285526932847), ('John', 0.1434755917412464), ('Chris', -0.08581045965096305), ('Bill', 0.18713989777774015), ('Dave', 0.006327593294407015), ('Tony', 0.19905363468548964), ('Rick', -0.1228756718653266), ('Steve', 0.00881922003268491), ('Matt', -0.06271661239095518), ('Nick', 0.06536011210576019), ('David', 0.25249690660420865), ('Kevin', -0.07283972936813027), ('Mark', 0.13625956071907355), ('Rich', 0.13885762993121947), ('Anonymous', 0.21120377193190057), ('Robert', 0.17113973512501676), ('Alexa', -0.23074478358119999), ('Andy', 0.3352072778581667), ('James', -0.12350686241670664), ('Paul', -0.4411828690403207), ('Jason', 0.2604618505402568), ('Eric', 0.21033789465626948), ('Justin', 0.19768778356316113), ('Brian', -0.26744549649612553), ('Echo', 0.09759000729485331), ('Jake', -0.17964472806215853), ('Jeff', 0.31587698635699596), ('Lisa', 0.19181484192436687), ('Alex', 0.17155582447829892), ('Chuck', -0.286800242824307), ('Fred', -0.11023255019054999), ('Jack', 0.09156411188681678), ('Jerry', 0.022805150531936443), ('Joey', -0.48420012470625406), ('Josh', 0.40580893922049577), ('Patrick', -0.1553151860493486), ('Sandy', -0.17410445156209894), ('Scott', 0.2939786471430836), ('Doug', 0.29704426289300156), ('Eddie', -0.350400220549497), ('Mimi', 0.38975041712336034), ('Ryan', -0.11103498152964117), ('mike', -0.09901475429766719), ('Bobby', 0.1713109840816431), ('Debbie', 0.27676139997340726), ('Jenn', 0.4744772333210158), ('Terry', 0.23218173010628562), ('Danny', -0.05258304820496159), ('Jess', 0), ('Will', -0.3190633548091467), ('Brad', 0.061717741387627645), ('Craig', 0.34614675900953285), ('Frank', 0.18832944617230113), ('Greg', 0.18688500626158666), ('Marty', 0.33689395504492703), ('Buyer', -0.21093838025484243), ('Jimbo', -0.1712982209942308), ('Jimmy', -0.20610090173597323), ('Johnny', 0.2111937441590499), ('Mary', -0.1158806995601783), ('Mikey', 0.38186158416698723), ('Phil', 0.046574643283262974), ('Sammy', 0.1947340450835614), ('Susan', -0.6880963826587384), ('Tommy', 0.5183344401841384), ('Charlie', 0.5773502691896287), ('Daniel', 0.3076923076923084), ('Happy', 0.07268547557869805), ('Jamie', -0.034008097611934025), ('Keith', 0.36420116288478804), ('Kelly', -0.3031695312954163), ('Kindle', 0.375), ('Larry', 0.3666793988112857), ('Michelle', -0.34191248160563104), ('Nancy', 0.09522267331341466), ('Andrew', -0.3637488574870474), ('Barb', 0.2904089347757578), ('Brandon', 0.057929247920635175), ('Dani', -0.06337242505244779), ('DeeDee', 0.2182178902359924), ('Gary', 0.2822753912601658), ('Gigi', -0.3214859847667856), ('Kathy', 0.2904089347757578), ('Kris', 0.2834733547569204), ('Linda', 0.44360697536713456), ('Manny', 0.5446821128241828), ('Patty', 0.43301270189221935), ('Roger', -0.5488212999484517), ('Steven', -0.2321753443823308), ('Tammy', 0.03273853022358256), ('William', 0.5565550138009036), ('Adam', 0.08198435159162981), ('Alan', -0.041702882811414974), ('Angie', 0.33976044276805445), ('Anne', 0.33976044276805445), ('Bestbuyer', 0.0881305298478464), ('Buddy', 0), ('Butch', 0.40000000000000124), ('Cheryl', 0.3504383220252304), ('Cindy', -0.47434164902525894)])

In [181]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['UserID'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex UserID
0        -0.060163   Mike
1         0.143476   John
2        -0.085810  Chris
3         0.187140   Bill
4         0.006328   Dave

###### The top 50 similar users to input user

In [193]:
# top 50
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex   UserID
65         0.577350  Charlie
90         0.556555  William
85         0.544682    Manny
64         0.518334    Tommy
45         0.474477     Jenn

###### Recommending products to the input user

In [183]:
topUsersRating=topUsers.merge(new, left_on='UserID', right_on='UserID', how='inner')
topUsersRating.head()

,similarityIndex,UserID,ProductId,name,rating
0,0.57735,Charlie,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0
1,0.57735,Charlie,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0
2,0.57735,Charlie,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0
3,0.57735,Charlie,AVphgVaX1cnluZ0-DR74,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...",5.0
4,0.57735,Charlie,AVphgVaX1cnluZ0-DR74,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...",1.0

In [194]:
#Rating of selected users to all products
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

,similarityIndex,UserID,ProductId,name,rating,weightedRating
0,0.57735,Charlie,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",5.0,2.886751
1,0.57735,Charlie,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,2.309401
2,0.57735,Charlie,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",4.0,2.309401
3,0.57735,Charlie,AVphgVaX1cnluZ0-DR74,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...",5.0,2.886751
4,0.57735,Charlie,AVphgVaX1cnluZ0-DR74,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...",1.0,0.577350

In [185]:
tempTopUsersRating = topUsersRating.groupby('ProductId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

                      sum_similarityIndex  sum_weightedRating
ProductId
AV1YE_muvKc47QAVgpwE            46.502480          226.771915
AV1YnR7wglJLPUi8IJmi             3.616124           16.449821
AV1YnRtnglJLPUi8IJmV            31.857373          154.172908
AVpfIfGA1cnluZ0-emyp             1.310362            5.462445
AVpf_znpilAPnD_xlvAF             0.252497            1.262485

In [195]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Taking the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['ProductId'] = tempTopUsersRating.index
recommendation_df.head()

,weighted average recommendation score,ProductId
ProductId,,
AV1YE_muvKc47QAVgpwE,4.876555,AV1YE_muvKc47QAVgpwE
AV1YnR7wglJLPUi8IJmi,4.549020,AV1YnR7wglJLPUi8IJmi
AV1YnRtnglJLPUi8IJmV,4.839473,AV1YnRtnglJLPUi8IJmV
AVpfIfGA1cnluZ0-emyp,4.168654,AVpfIfGA1cnluZ0-emyp
AVpf_znpilAPnD_xlvAF,5.000000,AVpf_znpilAPnD_xlvAF

###### Sorting out the weighted recommendation score to see the top10 mproducts that the algorithm has recommended

In [196]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)

In [197]:
recommended=new.loc[new['ProductId'].isin(recommendation_df.head(10)['ProductId'].tolist())]

In [198]:
recommended.drop_duplicates(subset=['ProductId'], inplace=True)

C:\Users\Stas\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# Top 10 Recommended Products

In [199]:
recommended[['ProductId', 'name']]

                  ProductId                                               name
3067   AVqkIj9snnc1JgDc3khU  Amazon 5W USB Official OEM Charger and Power A...
14668  AVpftoij1cnluZ0-p5n2  Brand New Amazon Kindle Fire 16gb 7 Ips Displa...
14733  AVpjEN4jLJeJML43rpUe  Brand New Amazon Kindle Fire 16gb 7 Ips Displa...
17462  AV1YnRtnglJLPUi8IJmV  Amazon Kindle Paperwhite - eBook reader - 4 GB...
20640  AVphPmHuilAPnD_x3E5h  Kindle Voyage E-reader, 6 High-Resolution Disp...
21247  AVqkIdntQMlgsOJE6fuB  Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...
21955  AVpfl8cLLJeJML43AE3S                 Echo (White),,,\r\nEcho (White),,,
28936  AVpfpK8KLJeJML43BCuD  Featured Brands,Electronics,Amazon Devices,Hom...
29585  AV1YE_muvKc47QAVgpwE  Back To College,College Electronics,College Tv...
34635  AVpf_znpilAPnD_xlvAF  Electronics,Amazon Device Accessories,Kindle S...